body {
    color: #747704;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 100;
}

ul {
    list-style-type: none;
    padding: 0;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.font-large {
    font-size: 3.5em;
}

.font-medium {
    font-size: 1.8em;
}

.font-small {
    font-size: 1.5em;
}

.font-xsmall {
    font-size: 0.9em;
}

img {
    border-radius: 4px;
}

a:link {
    /*text-decoration: none;*/
    color: #747704;
}

a:hover {
    /*text-decoration: none;*/
    color: #747704;
}

a:visited {
    text-decoration: none;
    color: #747704;
}

.logo {
    height: 120px;
    margin-top: 20px;
    margin-left: 10px;
}

hr {
    color:#BCBBBB;
    background-color: #BCBBBB;
    height: 4px;
}

.portfolio-header {
    margin-top: 20px;
    margin-left: 10px;
}

.center-image {
    width: 100%;
}

.project-description {
    margin-top: 20px;
}

.portfolio {
    margin: 0 auto;
}

.portfolio:hover {
    border: 1px solid black;
    cursor: pointer;
}

.modal-body {
    text-align: center;
}

.modal-header .close {
    float: right;
    top: -10px;
    margin-top: -30px;
    margin-right: -30px;
}

.btn-close {
    border-radius: 7%;
    width: 15%;
    background-color: #fff;
}

.btn-close:hover {
    background-color: #747704;
    color: #fff;
}

@media screen and (max-width: 400px) {
    .logo {
        display: none;
    }
}
